.f-container {
  display: flex;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.p-1 {
  padding: 10px;
}
.p-5 {
  padding: 50px;
}
.bg-blue {
  background-color: blue;
}
